<!DOCTYPE html>
<html lang="en-US">
{% load static %}
<head>
    <title>{{ site_name }}</title>
    {% include "blog/gtm_head" %}
    <!-- META TAGS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="Learn more about the {{ site_name }}.">
    <link rel="shortcut icon" href="{% static 'media/misc/favicon.ico' %}">
    <!-- CSS FILES -->
    <link href="{% static 'blog/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'blog/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'blog/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'blog/blog_cards.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
    {% include "blog/gtm_body" %}
    <!-- SITE WRAPPER -->
    <div id="eskimo-site-wrapper">
        <!-- MAIN CONTAINER -->
        <main id="eskimo-main-container">
            <div class="container">
                <!-- SIDEBAR -->
                <div id="eskimo-sidebar">
                    <div id="eskimo-sidebar-wrapper" class="d-flex align-items-start flex-column h-100 w-100">
                        <!-- LOGO -->
                        <div id="eskimo-logo-cell" class="w-100">
                            <a class="eskimo-logo-link" href="/">
                                <img src="{% static 'media/misc/logo.webp' %}" class="eskimo-logo" alt="eskimo" />
                            </a>
                        </div>
                        <!-- MENU CONTAINER -->
                        <div id="eskimo-sidebar-cell" class="w-100">
                            <!-- MOBILE MENU BUTTON -->
                            <div id="eskimo-menu-toggle">MENU</div>
                            <!-- MENU -->
                            <nav id="eskimo-main-menu" class="menu-main-menu-container">
                                <ul class="eskimo-menu-ul">
                                    <li><a href="/category/training">Training Articles</a></li>
                                    <li><a href="/category/equipment-reviews">Equipment Reviews</a></li>
                                    <li><a href="/category/gear-reviews">Gear Reviews</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                {% block content %}{% endblock %}
            </div>
        </main>
        <!-- FOOTER -->
        {% include "blog/footer.html" %}
    </div>
</body>

</html>